pandas==1.2.1
numpy==1.20.0
gseapy==0.10.2
requests==2.25.1
feather-format==0.4.1
h5py==3.1.0
scikit-allel==1.3.2
more-itertools==8.6.0
goatools==1.0.15
datatable==0.11.1
matplotlib==3.3.4
seaborn==0.11.1
selenium==3.141.0
notebook==6.2.0
fisher==0.1.9
xlrd==2.0.1
openpyxl==3.0.6
requests==2.25.1
